body{background-color: sandybrown;}
.map{z-index:1;}
.s1{position:absolute;z-index:2;width:70px;height:70px}
.sb{position:absolute;z-index:2;width:100px;height:100px}
.s2{position:absolute;z-index:3;width:30px;height:30px}
.arrow{position:absolute;z-index:2; height: 20px;}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btnMain{
    position: absolute;
    top: 127px;
    left: 850px;
    width: 300px;
    height: 100px;
    font-size: 40pt;
}


table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: aliceblue}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    height: 50%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
