
body{background-color: sandybrown;}
.map{z-index:1;}
.s1{position:absolute;z-index:2;width:70px;height:70px}
.sb{position:absolute;z-index:2;width:100px;height:100px}
.s2{position:absolute;z-index:3;width:30px;height:30px}
.arrow{position:absolute;z-index:2; height: 20px;}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btnMain{
    position: absolute;
    top: 127px;
    left: 850px;
    width: 300px;
    height: 100px;
    font-size: 40pt;
}


table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: aliceblue}
